params {
    dataDir = 'data'
    metadataDir = 'metadata'
    egaCredentialsDir = 'credentials'
}

process {
    executor='slurm'
    queue='production'
}

executor {
    queueSize=500
    # perJobMemLimit=true # only for lsf
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
    memory = '4 GB'
    time = '1d'
}
