params {
    EGA_DATASET_ID = 'EGAD00001011134' // default value, can be overridden when running the workflow
    metadataDir = 'metadata'
    egaCredentialsDir = 'credentials'
}

conda {
    enabled = true
    cacheDir = "$CONDA_ENVS"
    createTimeout = "2 h"
    useMamba = true
}

process {
    executor = 'slurm'
    queue = 'production'
    cpus = 1
    memory = '4 GB'
    time = '167h'
    queueSize = 500
    submitRateLimit = "10/1sec"
    exitReadTimeout = '100000 sec'
    pollInterval = '5sec'
    jobName = {
        task.name // [] and " " not allowed in lsf job names
            .replace("[", "(")
            .replace("]", ")")
            .replace(" ", "_")
    }
}

